<div id="fondo">

  <div class="card-container">

    <h1 class="card-title">Registrate</h1>

      <form class="card-form" [formGroup]="formulario" (ngSubmit)="mostrarDatos()">

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" formControlName="nombre"
          [className]="formulario.controls.nombre.invalid && formulario.controls.nombre.touched ? 'error' : ''" />

        @if (formulario.controls.nombre.errors && formulario.controls.nombre.touched) {
          @if (formulario.controls.nombre.errors['required']) {
            <small class="small-error">El nombre es obligatorio</small>
          }

          @else if (formulario.controls.nombre.errors['minlength']) {
            <small class="small-error">
              Mínimo {{ formulario.controls.nombre.errors['minlength'].requiredLength }} caracteres
            </small>
          }

        }
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text" formControlName="apellido"
          [className]="formulario.controls.apellido.invalid && formulario.controls.apellido.touched ? 'error' : ''" />

        @if (formulario.controls.apellido.errors && formulario.controls.apellido.touched) {

          @if (formulario.controls.apellido.errors['required']) {
            <small class="small-error">El apellido es obligatorio</small>
          }

          @else if (formulario.controls.apellido.errors['minlength']) {
            <small class="small-error">
              Mínimo {{ formulario.controls.apellido.errors['minlength'].requiredLength }} caracteres
            </small>
          }

        }
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email"
          [className]="formulario.controls.email.invalid && formulario.controls.email.touched ? 'error' : ''" />

        @if (formulario.controls.email.errors && formulario.controls.email.touched) {

          @if (formulario.controls.email.errors['required']) {
            <small class="small-error">El email es obligatorio</small>
          }

          @else if (formulario.controls.email.errors['email']) {
            <small class="small-error">Formato inválido</small>
          }

        }
      </div>

      <div class="form-group">
        <label for="edad">Edad</label>
        <input id="edad" type="number" formControlName="edad"
          [className]="formulario.controls.edad.invalid && formulario.controls.edad.touched ? 'error' : ''" />

        @if (formulario.controls.edad.errors && formulario.controls.edad.touched) {

          @if (formulario.controls.edad.errors['required']) {
            <small class="small-error">La edad es obligatoria</small>
          }

          @else if (formulario.controls.edad.errors['min']) {
            <small class="small-error">Edad mínima 10</small>
          }

          @else if (formulario.controls.edad.errors['max']) {
            <small class="small-error">Edad máxima 99</small>
          }

        }
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" type="password" formControlName="password"
          [className]="formulario.controls.password.invalid && formulario.controls.password.touched ? 'error' : ''" />

        @if (formulario.controls.password.errors && formulario.controls.password.touched) {

          @if (formulario.controls.password.errors['required']) {
            <small class="small-error">La contraseña es obligatoria</small>
          }
          @else if (formulario.controls.password.errors['minlength']) {
            <small class="small-error">Mínimo 6 caracteres</small>
          }
          @else if (formulario.controls.password.errors['pattern']) {
            <small class="small-error">Debe tener 1 mayúscula, 1 minúscula y 1 número</small>
          }

        }
      </div>

      <button type="submit" class="btn-submit" >Registrate</button>

    </form>
  </div>
</div>