*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-image:
        linear-gradient(rgb(62, 3, 3), rgba(209, 189, 189, 0)),
        url('/image/fondoRegistro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}